html {
    scroll-snap-type: y mandatory;
}

body { 
    font-family: 'Montserrat', sans-serif;
    margin:0;
    padding: 0;
    
    background-color:#0b1c2f;

    fill:rgba(255, 255, 255, 0.2);
    background-size:656px 656px;
    background-repeat:repeat;
    background-image:url(/images/sprinkles.svg);
    
}

section {
    scroll-snap-align: start;
    height:100vh;

    display:grid;
    place-items: center;
    align-content: center;
}


h1 {
    color:#ddd;

    font-size: 9vw;
    font-weight: 800;
    padding:0 1vw;
    margin:0 0 80px 0;
}

h1 span.box {
    background-color: #FFB1A4;
    color: #0b1c2f;

    display: inline-block;
    padding:0 1vw;
    margin-left:-1vw;
}

/*
h1 span.cutout {
    background-image: linear-gradient(45deg, rgb(127,201,221) 0%, rgb(139,149,245) 100%);
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
*/

a, a:visited {
    font-weight:800;
    display: inline-block;
    margin:0 10px;
    color: #fff;
    transition: color 0.2s ease-in-out;
}

a:hover {
    color:#FFB1A4;    
}


h2 {
    font-size: 6vw;
    font-weight: 700;
    color:#FFB1A4;
    margin:0;
}

h2 + h3 {
    margin-top:0;
    font-size: 3vw;
    font-weight:300;
    color: #fff;
}


h2 span {
    background: #FFB1A4;
    color: #0b1c2f;
    display: inline-block;
    padding:0 1vw;
}

.blob {
    background-image: url(/images/blob1.svg);
    fill: #FFB1A4;
}

img {
    max-width: 20vw;
}

img.rounded {
    border-radius: 50%;
    position:relative;
}

img.blob1 {
    -webkit-mask-image: url(/images/blob1.svg);
    mask-image: url(/images/blob1.svg);
}

img.blob2 {
    -webkit-mask-image: url(/images/blob2.svg);
    mask-image: url(/images/blob2.svg);
}

/* CSS selector an anchor tag that has an href that starts with mailto: */
a[href^="mailto:"] {
    font-size:2vw;
}